{
  "sourceType": "unambiguous",
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      { "modules": false }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "external-helpers",
    "@babel/plugin-transform-react-jsx",
    ["@babel/plugin-transform-typescript", { "allowNamespaces": true }],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-async-to-generator"
  ]
}